@viewport {
    width: device-width ;
    zoom: 1.0 ;
}

@-ms-viewport {
    width: device-width ;
}

* {
    margin:0;
    padding:0;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
	margin: 0 auto;
	background-repeat: no-repeat ;
	background-attachment: fixed;
	background-width:100%;
	background-position: center;
	background-size: contain;
	font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
	font-weight: 100;
	color: #000;
	background: linear-gradient(to right, #EEE8AA, #FAFAD2, #EEE8AA);
	
}
.titlepagetext{
	width: 200px;
	position: absolute;
	left: 50%;
	margin-left: -300px;
	border: 0px solid black;
    white-space: nowrap;
	margin-top: 23%;	
	color:#fff;
	font-size: 40px;
  	
 	
}
.scrolled {
  opacity: 0.8;
  background-color: #222;
}
.container {
	width: 80%
	margin: 0 auto;
}

header {
	background-color: transparent;
	opacity: 1;
	width:100%;
	top: 0;
	position:fixed;
	z-index: 40; 
	transition: background-color 0.5s ease; 
}

header::after {
  content: '';
  display: table;
  clear: both;
 
  

}

.logo {
	float: left;
	padding: 15px 70px;
	
	width: 200px;
}

nav {
  float: right;


}

li {
	list-style: none;
}
nav ul {
  margin: 0;
  padding: 0 50px;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 15px;
  padding-top: 30px;


  position: relative;
}

nav a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

nav a:hover {
  color: #ccc;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #fff;

  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 200ms;
}

nav a:hover::before {
  width: 100%;
}

{
	margin: 0;

}

html, body {
	height: 100%;
}
h1, h2,h3, h4,h5, h6{
	margin-top: 20px;


}

.sect {
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: center;
}

.subSection {
	height: 5%;
	size: fixed;
}

.sectOne {
	background-image: url("../img/land.jpg");
}.

.sectTwo {
	background-image: url("../img/fspaceback.png");
}

.sectThree{
	background-image: url("../img/fspaceback.png");

}
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
.column {
    float: left;
}

.left {
    width: 61%;
    margin-right: 4%;
}

.right {
    width: 31%;
    margin-left: 4%;
}
.mainbody{
	margin-left: 15%;
	margin-right: 15%;
}
.centerpic{
	width: 100%;

}

.imageright{
	width: 100%;
	max-width: 400px;
	padding-left: 10px;
	margin-top:25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;float:right;
}



.one{
  background-color: #013A6B;
  background-image: -webkit-linear-gradient(160deg, #F2CB3D 41%, #EEE8AA 41%);
  min-height: 400px;
}
.two{
  background-color: #EEE8AA;

  min-height: 150px;
}

.three{
  background-color: #34ADFF;
  background-image: -webkit-linear-gradient(30deg, #F0D964 60%, #EEE8AA 60%);
  min-height: 400px;
}
.four{
  background-color: #34ADFF;
  background-image: -webkit-linear-gradient(170deg, #008000 30%, #000 30%);
  min-height: 400px;
}
.five{
  background-color: #34ADFF;
  background-image: -webkit-linear-gradient(30deg, #F0D964 60%, #EEE8AA 60%);
  min-height: 400px;
}

.six{
  background-color: #34ADFF;
  background-image: -webkit-linear-gradient(30deg, #F0D964 60%, #EEE8AA 60%);
  min-height: 400px;
}
.seven{
  background-color: #013A6B;
  background-image: -webkit-linear-gradient(150deg, #013A6B 35%, #004E95 35%);
  min-height: 200px;
}

.formWrapper{
	color: #000;
    width:100%;
    max-width:600px;
    padding-top: 30px;
    text-align: left;

}
.fspacetext{
	color: #008000;
}

.spacingup{
	padding-top: 35px;
	padding-left: 20px;
}

.field{
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-size: 15px;
    background-color: transparent;
    color: black;
    box-sizing: border-box;
    border-radius: 0;
    cursor: text;
    border: 1px solid black;
    margin: 3px;
    width: 100%;
    padding-left: 1px;
    max-width: 400px;
    height: 35px;


}

/*message*/
#message{
    font-family: 'Arial', 'Helvetica', sans-serif;
    width: 100%;
    max-width: 400px;
    height: 200px;
    padding-left: 2px;

}

.contactbutt{
    width: 100%;
    max-width: 400px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    background-color: transparent;
    color: #000;
    text-align: center;
    transition: background-color .5s, color .5s, border .5s;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #000;
    padding-left: 2px;
    margin-top: 3px;
    margin-left: 3px;
}

.contactbutt:hover{
    color: #A27F0E;
    border: 1px solid #A27F0E;
}

/*/contact form*/
.west{
    width: 50%;
}
.south {
    width: 40%;
    margin-left: 5%;
}
.contactcolumn {
    float: left;
    
    
}
@media screen and (max-width: 600px) {
    .contactcolumn {
        width: 100%;
    }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #968D54;
}
::placeholder {
    color: #968D54;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #968D54;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: #968D54;
}



.sponsor{
	width: 300px;
	padding-left: 10px;
	padding-right:10px;
}

.paypal{
	margin-bottom: 2%;
	margin-top: 2%;
}

.mainbodycontact{
	margin-left: 23%;
	margin-right: 23%;
}
.sponsordiv{
	width: 100%;
	margin: center;
	text-align: center;
	display: inline-block;
	padding-top: 10px;
}
footer {
	width: 100%;
	margin: center;
	text-align: center;
	display: inline-block;
	background-color: #EEE8AA;
}


.fspacefooter{
	background-color: #000;
}