@viewport {
    width: device-width ;
    zoom: 1.0 ;
}

@-ms-viewport {
    width: device-width ;
}
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
* {
    margin:0;
    padding:0;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
	margin: 0 auto;
	background-repeat: no-repeat ;
	background-attachment: fixed;
	background-width:100%;
	width: 100%;
	background-position: center;
	background-size: contain;
	font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
	font-weight: 100;
	color: #000;
	background-color: #013A6B;
  background-image: -webkit-linear-gradient(160deg, #F2CB3D 35%, #EEE8AA 35%);
  min-height: 1000px;
	
}
.titlepagetext{
	width: 150px;
	position: absolute;
	left: 50%;
	margin-left: -300px;
	border: 0px solid black;
    white-space: nowrap;
	margin-top: 23%;	
	color:#fff;
	font-size: 40px;
  	
 	
}
.orionimg{
	width: 250px;
	position: absolute;
	left: 50%;
	margin-left: -120px;
	border: 0px solid black;
    white-space: nowrap;
	margin-top: 23%;	
	color:#fff;
	font-size: 40px;
  	
 	
}
.titlepagetextbottomleft{
width: 200px;
	position: absolute;
	left: 50%;
	margin-left: -210px;
	font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;  
	border: 0px solid black;
    white-space: nowrap;
	margin-top: 23%;	
	color:#fff;
	font-size: 40px;
  	
 	

}

.titlepagetextcomp{
	width: 200px;
	position: absolute;
	left: 50%;
	margin-left: -385px;
	border: 0px solid black;
    white-space: nowrap;
	margin-top: 23%;	
	color:#fff;
	font-size: 20px;
  }
.fspaceimg{
	width: 300px;
	position: absolute;
	left: 50%;
	margin-left: -150px;
	border: 0px solid black;
    white-space: nowrap;
	margin-top: 23%;	
	color:#fff;
	font-size: 40px;

}
.scrolled {
  opacity: 0.8;
  background-color: #222;
}

@media screen and (max-width: 600px) {
  .fspaceimg{
    margin-top: 46%;
  }

  .titlepagetextcomp{
    margin-top: 46%;
    font-size: 13px;
    margin-left: -250px;

  }

  .orionimg{

    margin-top: 46%;


  }
  .titlepagetext{
    font-size: 21px;
    margin-left: -150px;
    margin-top: 46%;

  }

  .titlepagetextbottomleft{
    font-size: 21px;
    margin-left: -110px;
    margin-top: 46%;
  }
}

.logo {
  float: left;
  padding: 15px 70px;
  
  width: 200px;
}

html, body {
	height: 100%;
}
h1, h2,h3, h4,h5, h6{
	padding-top: 20px;


}

.sect {
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: center;
}
.sectbott {
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: bottom;
}

.subSection {
	height: 5%;
	size: fixed;
}

.sectOne {
	background-image: url("../img/land.jpg");
}.

.sectTwo {
	background-image: url("../img/fspaceback.png");
}

.sectThree{
	background-image: linear-gradient(to right top, #000,  #000);
}

.sectFour{
	background-image: url("../img/backstdr.JPG");

}

.sectFive{
	background-image: linear-gradient(to right top, #6c8be6, #837fef, #a46def, #c851e7, #eb12d4);
}

.sectSix{
	background-image: radial-gradient(circle, #303030, #252525, #1b1b1b, #111111, #000000);
}

.sectSeven{
	background-image: url("../img/other.jpg");
}
.sectEight{
	background-image: url("../img/orion.jpg");
}



@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
.column {
    float: left;
}

.left {
    width: 61%;
    margin-right: 4%;
}

.right {
    width: 31%;
    margin-left: 4%;
}
.mainbody{
	margin-left: 15%;
	margin-right: 15%;
}
.centerpic{
	width: 100%;

}

.imageright{
	width: 100%;
	max-width:400px;
	padding-left: 10px;
	margin-top:12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imagerightlong{
	height: 100%;
	max-height:350px;
	padding-left: 10px;
	margin-top:12%;
}

@media screen and (max-width: 800px) {
  .imagerightlong{
    margin-left: 0px;
    
    
    
  }
  .imageright{
    margin-left: 0px;
    
    
    
  }

}
.centerimages{
  justify-content: center;
  text-align: center;

}
.textwhite{
	color:white;
}

.one{
  background-color: #013A6B;
  background-image: -webkit-linear-gradient(160deg, #F2CB3D 35%, #EEE8AA 35%);
  min-height: 400px;
}
.two{
  background-color: #EEE8AA;

  min-height: 150px;
}

.three{
  background-color: #34ADFF;
  background-image: -webkit-linear-gradient(30deg, #F0D964 60%, #EEE8AA 60%);
  min-height: 400px;
}
.four{
  background-color: #34ADFF;
  background-image: -webkit-linear-gradient(170deg, #008000 30%, #000 30%);
  min-height: 400px;
}


@media screen and (max-width: 1000px) {
  .one{
    min-height: 800px;
  }

  .three{
    min-height: 550px;
  }

  .four{
    min-height: 800px;
  }

}


.five{
  background-color: #34ADFF;
  background-image: -webkit-linear-gradient(40deg, #CD2222 70%, #1D48EA 70%);
  min-height: 400px;
}

.six{
  background-color: #34ADFF;
  background-image: -webkit-linear-gradient(30deg, #c851e7 20%, #a46def 20%);
  min-height: 400px;
}
.seven{
  background-color: #013A6B;
  background-image: -webkit-linear-gradient(150deg, #000 35%, #fff 35%);
  min-height: 400px;
}
.eight{
  background-color: #013A6B;
  background-image: -webkit-linear-gradient(160deg, #F2CB3D 35%, #EEE8AA 35%);
  min-height: 1000px;
}
@media screen and (max-width: 1000px) {
  .five{
    min-height: 900px;
  }

  .six{
    min-height: 1200px;
  }

  .seven{
    min-height: 800px;
  }
  .eight{
    min-height: 800px;
  }

}
.formWrapper{
	color: #000;
    width:100%;
    max-width:600px;
    padding-top: 30px;
    text-align: left;

}
.fspacetext{
	color: #008000;
}

.spacingup{
	padding-top: 35px;
	padding-left: 100px;
}

.field{
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-size: 15px;
    background-color: transparent;
    color: black;
    box-sizing: border-box;
    border-radius: 0;
    cursor: text;
    border: 1px solid black;
    margin: 3px;
    width: 100%;
    padding-left: 1px;
    max-width: 400px;
    height: 35px;


}

/*message*/
#message{
    font-family: 'Arial', 'Helvetica', sans-serif;
    width: 100%;
    max-width: 400px;
    height: 200px;
    padding-left: 2px;

}

.contactbutt{
    width: 100%;
    max-width: 400px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    background-color: transparent;
    color: #000;
    text-align: center;
    transition: background-color .5s, color .5s, border .5s;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #000;
    padding-left: 2px;
    margin-top: 3px;
    margin-left: 3px;
}

.contactbutt:hover{
    color: #A27F0E;
    border: 1px solid #A27F0E;
}

/*/contact form*/
.west{
    width: 50%;
}
.south {
    width: 40%;
    margin-left: 5%;
}
.contactcolumn {
    float: left;
    
    
}
@media screen and (max-width: 1000px) {
    .contactcolumn {
        width: 100%;
    }
    .column {
        width: 100%;
    }

}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #968D54;
}
::placeholder {
    color: #968D54;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #968D54;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: #968D54;
}



.sponsor{
	width: 300px;
	padding-left: 10px;
	padding-right:10px;
}

.paypal{
	margin-bottom: 2%;
	margin-top: 2%;
}

.mainbodycontact{
	margin-left: 23%;
	margin-right: 23%;
}
.sponsordiv{
	width: 100%;
	margin: center;
	text-align: center;
	display: inline-block;
	padding-top: 10px;
}
footer {
	width: 100%;
	margin: center;
	text-align: center;
	display: inline-block;
	background-color: #EEE8AA;
}

.compscifooter{
	background-color: #fff;
}
.fspacefooter{
	background-color: #000;
}
.stemfooter{
	background-color: #1D48EA;
}
.ccfooter{
	background-color: #a46def;
}

.carousel .item {
    width: 100%; /*slider width*/
    max-height: 600px; /*slider height*/
}
.carousel .item img {
    width: 100%; /*img width*/
}
/*full width container*/
@media (max-width: 767px) {
    .block {
        margin-left: -20px;
        margin-right: -20px;
    }
}

.keep100{
	width:100%;
}

.collegeimg{
	width: 350px;
	position: absolute;
	left: 50%;
	margin-left: -170px;
	border: 0px solid black;
    white-space: nowrap;
	margin-top: 23%;	
	color:#fff;
	font-size: 40px;

}
@media screen and (max-width: 600px) {
  .collegeimg{
  margin-top: 46%;
  }

}
.spacerdiv{

	padding-bottom: 20px;
	
}
.bioCol{
    width: calc(100% / 3);
    padding-top: 20px;


}
.projectsCol{
    width: calc(100% / 3);
    background-color: white;
}

@media screen and (max-width: 800px) {
    .projectsCol {
        width: 100%;
    }
    .bioCol {
        width: 100%;
    }

}
.blockpics{
    width:100%;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.biopics{
    width:96%;
    height:96%;
    padding-top: 4%;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    padding-left: 2%;
    padding-right: 2%;
}
}
.white{
	background-color: white;
}
.whitetext{
	color: white;
}


.container1{
    position: relative;
}
.container1:hover .blockpics {

    opacity: 0.3;
    color: #000;
}

.container1:hover .biopics {

    opacity: 0.3;
    color: #000;
}

.container1:hover .hovereffect {
    opacity: 1;
}
.hovereffect {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    text-decoration: none;
}
.text {
    background-color: #eee;
    color: black;
    font-size: 16px;
    padding: 16px 32px;

}
.textbio {
    background-color: transparent;
    color: black;
    font-size: 16px;


}
.text:hover{
    background-color: #ddd;
}
.textbio:hover{
    background-color: transparent;
    color: #4E4309;
}
.aboutdiv{
	padding-top: 100px;
}

.rowouterdiv{
	margin-left: 15%;
	margin-right: 15%;
}

/* unvisited link */
.whitetext a:link {
  color: white;
  text-decoration: none;
}

.blacktext a :link {
  color: black;
  text-decoration: none;
}


.blacktextlink{
  color: #000;
  text-decoration: none;
}

.blacktextlink:hover{
  color: #494949;
  text-decoration: none;
}

.whitetextlink{
  color: #fff;
  text-decoration: none;
}

.whitetextlink:hover{
  color: #A9A89E;
  text-decoration: none;
}

header {
  background-color: transparent;
  opacity: 1;
  width:100%;
  top: 0;
  position:fixed;
  z-index: 40; 
  transition: background-color 0.5s ease; 

}

header::after {
  content: '';
  display: table;
  clear: both;
 
  

}
nav{
  float: right;
}

nav a::before {

  content: '';
  display: block;
  height: 5px;
  background-color: #fff;

  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 200ms;
}

nav ul {
  display: flex; 
  flex-wrap: wrap; 

  margin: 0 auto;   
   background: transparent;
}
nav ul{
  margin: 0;
  padding: 0 50px;
  list-style: none;
}
nav li {
  display: inline-block;
  margin-left: 20px;
  padding-top: 30px;


  position: relative;
}
nav li:last-child {
   border-bottom: none;
}
nav a {
  text-decoration: none;
  color: inherit;
  display: block;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
nav a:hover {

  color: #ddd;
}
nav li {
  position: relative;
  line-height: 50px;

  text-align: center;
}  
nav input,
nav label {
  display: none;
  width: 36px; 
  height: 36px; 
  background: transparent; 
  color: #fff; 
  text-align: center; 
  line-height: 36px;
  font-size: 1.6rem;
  border-radius: 2px;

} 
nav label {
   position: absolute; 
   top: 25px; 
   right: 8px; 
   transition: .4s;
}
nav label:hover {cursor:pointer;}
nav label:before {
  font-family: FontAwesome;
  font-size: 24px;
  content: "\f0c9";
  text-align: center;

}


/************* MEDIA QUERIES **************/

@media only screen and (max-width: 1080px){
  nav a{
    color: white;
  }
   nav {
      position: relative;
      float: none;


   }
  .scrolled{
    opacity: 1.0;
  }
  nav ul {
    transform: translateY(0);
    box-shadow: 0 0 5px rgba(0,0,0, .7);
      transition: all .5s;
      position: absolute;
      width: 100%;
      background: #333;

  }
  nav li {
    flex: none; 
    width: 100%;
    border-bottom: solid 1px #777;

  } 
  nav input[type="checkbox"]:checked + ul  {
    transform: translateY(-100%);
    width: 100%;
    background: black;    
    transition: all .5s;
  }
  nav label{
      display: block;
      position: absolute; 
      background: transparent; 



  

   }  
  nav input[type="checkbox"]:checked + ul li:nth-child(1){
    background: #777; 
    color: black;
  }  

}
